.bodyText {
  color: black;
  margin-bottom: 22px;
  margin-top: 40px;
  font-family: 'Montseratt', cursive;
  font-size: 30px;
  font-weight: lighter;
  text-align: center !important;
  padding: 0 ;
  }
  
  .pagecontainer {
    display: grid;
  }

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:black;
  } 
  


  .double-chart .chart {
    float: left;
    width: 50%;
  }
  
  .double-chart::after {
    content: "";
    clear: both;
    display: grid;
  }
  
  
  
  h1{
  
    color: rgb(8, 7, 7);
    font-family: 'Montseratt', sans-serif;
    font-size: 40px !important;
    margin-top: 10px;
    font-weight: bold;
  }
  
  h2{
  
    color: rgb(59, 60, 61);
    margin-top: -30px !important;
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
  }


  
  h3{
    color: #403568;
    margin-top: 25px;
   font-family: 'Montseratt', sans-serif;
  }
  
  p{font-family: 'Montseratt', sans-serif;
  
  color: blue;
  }
  
  
  .a_container {
    display: inline-table; /*this is what puts charts side by side*/
    justify-content: center !important;
    vertical-align: top;
    text-align: center !important;
    align-items: center;
    margin-left: 1.3%;
    margin-top: 0px;
    min-width: 1000px;
    height: 100%;
    letter-spacing: 0.1px;
    }


    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }
    
    /* Set the apperance of the class, chart */
    .chart1{
      background-color: whitesmoke;

      display: inline-table; /*this is what puts charts side by side*/
      padding: 0.2em  !important;
      text-align: center; 
      border-width: .2em;
      height: 200px; /* can do %s here too! */
      width: 200px;
      display: inline-block !important;
      min-width: 280px;
      margin: .01em;
    }

    .chart2{
      background-color: whitesmoke;

      display: float; /*this is what puts charts side by side*/
      padding: 0.2em  !important;
      margin-left: 300px;
      margin-right: 300px;
      text-align: center; 
      border-width: .2em;
      height: 200px; /* can do %s here too! */
      width: 200px;
      display: inline-block !important;
      min-width: 280px;
      margin: .01em;
    }




    .chart3{
      background-color: whitesmoke;

      

      display: inline-block ; /*this is what puts charts side by side*/
      padding: 0.2em  !important;
      margin: auto;
      text-align: center; 
      border-width: .2em;
      height: 200px; /* can do %s here too! */
      width: 200px;
      display: inline-block !important;
      min-width: 280px;
      margin: .01em;

    }

    .chart4{
      background-color: whitesmoke;

      clear: both;

      display: inline-block ; /*this is what puts charts side by side*/
      padding: 0.2em  !important;
      margin-left: 300px;
      margin-right: 300px;
      text-align: center; 
      border-width: .2em;
      height: 200px; /* can do %s here too! */
      width: 200px;
      display: inline-block !important;
      min-width: 280px;
      margin: .01em;

    }











    .a_container1 {
      display: inline-table; /*this is what puts charts side by side*/
      justify-content: center !important;
      vertical-align: top;
      text-align: center !important;
      align-items: center;
      margin-left: 1.3%;
      margin-top: 0px;
      min-width: 1000px;
      height: 100%;
      letter-spacing: 0.1px;
      }
    



  p {
    font-size: 18px;
    margin: 5px 5px;
    line-height: 22.4px;
    color: #323232; 
  }
  
  
  body {
    background-color: whitesmoke;
    max-width: 60%;
    margin-left: 235px !important;
    
   }
  
  
   a:link {
    color: #2d1247;
  }
  
  a:visited {
    color: rgb(30,144,255);
    background-color: rgb(30,144,255);
  }
  
  a:hover {
    text-decoration: none;
    opacity:1;
    background-color: whitesmoke;
    border-color: rgb(248, 244, 248);
  }
  
  
  .button, .buttonActive {
    border: 2px solid rgb(30,144,255);
    color: rgb(116, 18, 99);
    font-family: 'Raleway', sans-serif;
    line-height: 16px;
    font-weight: 600;
    border-radius: 350px;
    box-sizing: content-box;
    align-items: flex-start;
    display: inline-block;
    font-size: 18px; 
    margin: 1px 2px 1px 2px;
    text-decoration: none;
    max-width: 100px;
    outline-offset: 2px;
    overflow: hidden;
    padding: 5px 12px;
    text-align: center;
    text-overflow: ellipsis;
    transition: border-color,background-color .3s ease;
   }
  
  .buttonActive {
    color:rgb(30,144,255);
    color: rgb(253, 249, 252) !important;
    background-color: rgb(30,144,255) !important;
  }
  @-webkit-keyframes edit {
    0% {
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    8% {
      -webkit-transform: rotate(12deg);
      transform: rotate(12deg);
    }
  
    10% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    18% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    20% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    28% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    30% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    38% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    40% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    48% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    50% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    58% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    60% {
      -webkit-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    68% {
      -webkit-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    75% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
  @keyframes edit {
    0% {
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    8% {
      -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
      transform: rotate(12deg);
    }
  
    10% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    18% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    20% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    28% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    30% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    38% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    40% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    48% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    50% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    58% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    60% {
      -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
      transform: rotate(-24deg);
    }
  
    68% {
      -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
  
    75% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .faa-home.animated,
    .faa-home.animated-hover:hover,
    .faa-parent.animated-hover:hover > .faa-home {
      -webkit-animation: edit 5s ease infinite;
      animation: edit 5s ease infinite;
    }

  .faa-edit.animated,
  .faa-edit.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-edit {
    -webkit-animation: edit 5s ease infinite;
    animation: edit 5s ease infinite;
  }
  
  .faa-github.animated,
  .faa-github.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-github {
    -webkit-animation: edit 5s ease infinite;
    animation: edit 5s ease infinite;
  }
  
  .faa-book.animated,
  .faa-book.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-book {
    -webkit-animation: edit 5s ease infinite;
    animation: edit 5s ease infinite;
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
  }
  
  #one {
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: .0;
    animation: loading 1.4s .65s infinite;
    height: 20px;
    width: 20px;
  }
  
  #two {
    position: absolute;
    border-radius: 50%;
    background: blue;
    opacity: .0;
    animation: loading 1.4s infinite;
    height: 20px;
    width: 20px;
  }
  
  .myWeek5{
    margin: auto;
    max-width: 600px;
    }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px !important;
    justify-content: center !important;
    vertical-align: bottom;
    text-align: center !important;
    align-content: center;
    max-width: 90%;
    margin:auto;
    max-width: 1200px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: xx-small;
    letter-spacing: 0.1px;
  }
  .grid-item {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center; 
    border-width: .2em;
    height: 250px; /* can do %s here too! */
    width: 300px;
    display: inline-block !important;
    min-width: 280px;
    font-size: 10px;
    margin: 0 auto;
  }


  .text-level-A {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
  }
  




  
  @keyframes loading {
    0% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
    50% {
      opacity: 1;
      transform: scale(2);
      box-shadow: 0 0 10px rgba(black, .1);
    }
    100% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

  #loadermessage {
    position: absolute;
    text-align: center !important;
    top: 60% !important;
    left: 46%;
    z-index: 1;
    width: 120px;
    height: 120px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: rgb(3, 2, 0);
    font-size: 20px; 
    letter-spacing: 1px; 
    line-height: 1; 
}
  
@media only screen and (max-width: 800px) {
  .chart {
  width: 400px;
  overflow:scroll;
  }
  #loadermessage {
    left:40% !important;
  }
    
    body {
    max-width: 100%;
    margin-left: 0px !important;
    
   }
    
    ::-webkit-scrollbar {
      height: 5px !important;
      
    }
  }